<section data-ng-controller="InfoController"  data-ng-init="init()">

  <h3>In Japanese, What We're About</h3>

  <p>
    We believe that you don't want to expose your exact locations even to your loved ones and familiy members.  However, we also believe that knowing the rough locations of them will remove anxiety from you, and give convenience both of you and them.
  </p>

  <p>
    <h4>Special thanks to:</h4>

    <ol>
      <li>Server</li>
      <ul>
	<li>Mean.js</li>
	<li>moment</li>
      </ul>
      <li>Client</li>
      <ul>
	<li>AlamoFire</li>
      </ul>
      <li>Etc</li>
      <ul>
	<li>公益財団法人 神戸市産業振興財団(神戸市産業振興センター)</li>
	<li>京都大学付属図書館</li>
      </ul>
    </ol>
  </p>

</section>
