<section data-ng-controller="InfoController"  data-ng-init="init()">

<code>
<pre>
Japanese cocoger Terms and Conditions of Use

The cocoger Terms and Conditions of Use shown here ("the TOU") set forth the terms and conditions between LINE Corporation ("the Company") and you regarding the cocoger service provided by the Company ("the Service").


1. Definitions
1.1. "User(s)" means, collectively or individually, any user(s) of the Service.
1.2. "Room" means an online space created by a User in order to share location information between specific Users.
1.3. "App" means application(s) or software necessary to use the Service.
1.4. "Invitation URL" means any URL which is automatically created in order to invite other Users to the Room.

2. Agreement to this TOU
2.1. You shall use the Service in accordance with the terms and conditions stated in this TOU. You may not use the Service unless you agree to this TOU. Such agreement shall be legally effective and irrevocable. 
2.2. If you are a minor, you may use the Service only with consent from your parent(s) or legal guardian(s).
2.3. By actually using the Service, you are deemed to have given your effective and irrevocable agreement to this TOU. 

3. Other terms
If the Service includes any features which enable linking with other services of the Company or third party services, you shall comply with the terms and conditions or other terms which are applicable to such services ("Other Services' TOUs"). It is your obligation to refer to and confirm the Other Services' TOUs. 

4. Modification of this TOU
4.1. The Company may modify this TOU at its sole discretion at any time, without providing you any prior notice. The modification will become effective once the modified TOU is posted at an appropriate location on a website or any pages of the Service operated by the Company. You shall be deemed to have granted effective and irrevocable consent to the modified TOU by continuing to use the Service. The Company is not obliged to provide you with separate notification or individual notification regarding the modification. It is your responsibility to refer to and confirm this TOU on a regular basis when you use the Service.
4.2. In the case where any Other Service's TOU is modified, it is your responsibility to refer to and confirm such modification. The Company is not obliged to provide you with separate notification or individual notification regarding the modification. Please take personal responsibility for regularly checking the latest versions of Other Services' TOUs.

5. Sharing Location Information
5.1. The Service enables you to share location information among the Users in the Room.
5.2. The location information may not be displayed correctly depending on the network status, the type of communication device or other reasons. You shall supply the necessary PC, mobile phone device, communication device, operating system, data connection and electronic power necessary for using the Service under your own responsibility and at your own expense.
5.3. Your personal information (name and icon image) registered in the Service will be viewable to other Users.
5.4. You may create a new Room by yourself and send the Invitation URL to other Users. The decision of whether or not to join the Room will be made by the User who receives the invitation, thus, it is possible that the location information will not be shared even after you have sent the invitation. In addition, the User who receives the invitation from you may not browse your location information unless he/she joins the Room.
5.5. Your location information will be shared among all Users in the Room as long as you belong to the Room, provided, however, that you may cease to share your location information or exit from the Room at any time at your own discretion while you are in the Room.
5.6. You may set a time limit for sharing to the Room. The Room will be automatically deleted upon the expiration of the sharing time limit.
5.7. Any of the Users in the Room may add new Users to the Room; delete any of the current Users in the Room; set the sharing time limit; or modify the sharing time limit. The Company will send you a notification when a new User has joined the Room or the sharing time limit has been modified, provided, however, that if you disable a notification function in the Service, you may not receive such notification.
5.8. By setting a "Place", the User in the Room may receive a notification when the other Users in the Room join or leave the "Place". You are unable to confirm whether or not other Users in the Room have set a "Place".
5.9. While belonging to a Room, the Service will keep sending your location information in the background even after closing the App. If you do not desire to share your location information among the Users in the Room, please stop location sharing in the Room or exit from the Room.
5.10. User’s remaining battery capacity may be browsed by other Users belonging to the same Room.
5.11. The Company shall not be responsible for any disputes among the Users which may arise out of, in connection with, or in relation to the Service, including, but not limited to, adding or deleting a User to or from the Room, or modifying the sharing time limit.

6. Withdrawal and Deletion of Account 
6.1. If you desire to withdraw from the Service, please perform the withdrawal procedure. Note that you cannot withdraw from the Service by simply deleting the App from your PC, mobile phone device or other communication device.
6.2. You acknowledge and agree that the company shall hold the rights to delete your registered information and/or your account in instances where you have not used the Service in the previous one (1) year. However, the Company shall not be obliged to delete this information and/or account.

7. Rights to the Service
7.1. The Company grants you the non-transferable, non-re-licensable, non-exclusive license only for the purpose of using the Service, and retains the right to revoke the license at any time.
7.2. All rights regarding the Service shall be reserved by the Company or a third party who grants the Company the rights thereof, with the exception of the license provided per the preceding clause.

8. Cessation or Suspension of the Service
8.1. The Company may cease or suspend provision of the Service without any prior notice at any time when the Company has determined it is necessary, including, but not limited to, in the case of system maintenance, or failures of telecommunication lines, online systems or computers. The Company shall not be liable for any damages or losses you incur in connection thereof.
8.2. The Company may terminate the Service without providing you any prior notice. In the case of the termination of the Service, regardless of the reason, all rights to the Service and all rights and information registered in the Service shall expire. The Company shall not be liable for any damages or losses you incur in connection thereof.

9. Privacy
9.1. The Company places the highest priority on your privacy.
9.2. The Company promises to exercise the utmost care and attention regarding its security measures for the continued security of any and all of your information.
9.3. The Company acquires your location information for the purpose of enabling you to share location information among other Users. In addition, the Company may use such acquired location information for the purpose of creating statistical data which will be used for provision of the Service, enhancement of the convenience of the Service or improvement of the Service.
9.4. The Company promises to protect your privacy and personal information in accordance with the LINE Privacy Policy, unless otherwise provided in this TOU.

10. Advertisement
The Company reserves the rights to provide Users with advertisements for the Company, or a third party, through the Service.

11. Restrictions
You shall not engage in the following when using the Service.
11.1. Engaging in activities to disclose Invitation URLs for the Service to a third party other than those desiring to share their location information.
11.2. Engaging in activities that make a third party share his/her location information by deception or other wrongful means, or forcing a third party's location information to be shared via operating his/her devices by wrongful means.
11.3. Engaging in activities to use the Service for any criminal or illegal acts.
11.4. Engaging in activities to use the Service by impersonating others.
11.5. Engaging in activities to join or attempt to join a Room other than one you created or to which you are invited.
11.6. Engaging in activities that violate the law, court verdicts, resolutions or orders, or administrative measures that are legally binding.
11.7. Engaging in activities that may hinder public order or customs.
11.8. Engaging in activities that infringe intellectual property rights, such as copyrights, trademarks and patents, reputation, privacy, and all other rights of the Company and/or a third party granted by the law or contract.
11.9. Engaging in activities that lead to the misrepresentation of the Company and/or a third party, or intentionally spreading false information.
11.10. Engaging in activities to exchange the right of use for the Service into cash, property or other economic benefits without the Company's authorization.
11.11. Engaging in activities such as sending messages indiscriminately to numerous Users (except for those approved by the Company), indiscriminately adding other Users as members of a Location Sharing Group, or any other activities deemed to be spamming by the Company.
11.12. Using the Service for sales, marketing, advertising, soliciting or other commercial purposes (except for those approved by the Company); using the Service for the purpose of sexual conduct or obscene acts; using the Service for the purpose of meeting a person for sexual encounters; using the Service for the purpose of harassment or libelous attacks against other Users; or using the Service for purposes other than the Service's true intent.
11.13. Engaging in activities that benefit or are conducted in collaboration with anti-social groups.
11.14. Engaging in activities that are related to religious activities or are invitations to certain religious groups.
11.15. Engaging in activities that lead to the illegal or improper collection, disclosure, or provision of others' personal information, registered information, user history, or the like.
11.16. Engaging in activities that interfere with the servers and/or network systems of the Service; that abuse the Service via bots, cheat tools, or other technological means; that deliberately use defects of the Service; that include unreasonable inquires and/or undue claims such as repeatedly asking the same question beyond necessity, and that interfere with the Company's operation of the Service or your use of the Service.
11.17. Engaging in activities that aid or encourage any activity stated in Clauses 1 to 16 above.
11.18. Engaging in other activities that are deemed by the Company to be inappropriate.

12. Your Responsibility
12.1. You shall use this Service at your own risk, and shall bear all responsibility for actions carried out and their results upon using this Service, unless otherwise provided in this TOU or other applicable terms or regulations.
12.2. In the case where the Company has suffered loss/damage or has been charged an expense (including but not limited to lawyer's fees) directly or indirectly (including but not limited to cases where the Company has been sued for damages by a third party) due to your violation of applicable laws or this TOU while using the Service, you shall immediately compensate the Company upon its request.

13. The Company’s Exemption from Liability
13.1. The Company does not expressly or implicitly guarantee that the Service is free from de facto or legal flaws(including but not limited to stability, reliability, accuracy, integrity, effectiveness, fitness for certain purposes, security-related faults, errors, bugs, or infringements of rights). The Company shall not be responsible for providing the Service without such defects.
13.2. The Company shall not be responsible for any damages inflicted upon Users in relation to the use of the Service. However, if the agreement(including but not limited to this TOU) between the Company and you regarding the Service shall be deemed as a consumer contract under the Consumer Contract Law in Japan, then the preceding sentence in this clause shall not be applied.
13.3. Notwithstanding the prescription in Clause 13.2 above, the Company shall not be responsible for any indirect, special, incidental, consequential or punitive damages (including but not limited to such damages that the Company or you predicted, or could have predicted) resulting from breach of contract or act of tort caused by the Company's negligence (except for gross negligence). The compensation for ordinary damages resulting from breach of contract or act of tort caused by the Company's negligence (except for gross negligence) shall be limited to the total amount of received fees from you in the particular calendar month in which such damages occurred.
13.4. The Company may take measures that the Company considers necessary and appropriate, including, but not limited to, prohibiting use of the Service, if the Company acknowledges that you are using the Service in a way which violates this TOU.
13.5. Notwithstanding the prescription in Clause 13.4 above, the Company shall not be responsible for correcting or preventing such violations towards you or others.

14. Notification and Contact
14.1. When the Company notifies or contacts you regarding the Service, the Company may use a method that the Company considers appropriate, such as posting on the website operated by the Company.
14.2. When you notify or contact the Company in regard to the Service, you shall use the customer inquiry form available on the website operated by the company or other means designated by the Company.

15. Language, Governing Law and Jurisdiction
The governing language of this TOU shall be Japanese. Other language translations shall be used for reference purposes only. In the event of a contradiction between the Japanese version and a translation, the provisions in the Japanese version shall take precedence over any other translation. This TOU shall be governed by the laws of Japan. Any disputes between you and the Company which may arise out of, in connection with, or in relation to the Service, shall be governed primarily under the exclusive jurisdiction of the District Court of Tokyo or the Tokyo Summary Court.

End
Established on August, 19, 2015
</pre>
</code>

</section>
