<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
	<p>{{name}} 様、</p>
	<br>
	<p>
		{{appName}}のアカウントのパスワードの変更リクエストを受け付けました。
	</p>
	<p>このリクエストが正しければ、以下のリンクをクリックしてください。</p>
	<p>
		<a href="{{url}}">
			<img src="http://cocoger.com:3000/images/reset_password.png"  width="64" height="64" style="vertical-align:middle" alt="reset password">
			<span style="vertical-align:middle">
			  パスワード変更
			</span>
		</a>
	</p>
	<strong>パスワードの変更をリクエストしていない場合には、このメールは無視してください。</strong>
	<br>
	<br>
	<p>{{appName}} サポートチーム一同</p>
</body>
</html>
