body {
  overflow:hidden;
}

img {
    margin-top: 10px;
    margin-bottom: 10px;
}

pre {
    white-space: pre-wrap;
}

.container {
    padding: 10px;
}

.message {
    text-align: left;
    font-size: large;
}

.space {
    padding-top: 8px;
}

ul {
    list-style-position: inside;
}
