<div class="container"  data-ng-controller="FooterController">

    <div class="container">

      <ul class="nav navbar-nav navbar-left" data-ng-show="authentication.user">
	<li>
	  <a href="/#!/about">About Us</a>
	</li>

	<li>
	  <a href="/#!/faq">FAQ</a>
	</li>

	<li>
	  <a href="/#!/term">Term of Use</a>
	</li>
      </ul>

      <ul id="privacy" class="nav navbar-nav navbar-right">
        <li>
	  <!--
	  <a href="/#!/settings/profile">Powered by Routeal LLC</a>
	  -->
	  <a>Powered by Routeal L.L.C.</a>
        </li>
      </ul>

    </div>

</div>
